.post-container{
  width: 600px;
  margin: 0 auto;
  margin-bottom: 150px;
  padding: 20px;
}

.post-container img{
  width: 100%;
  margin-bottom: 20px;
}

.post-container h2{
  width: 100%;
  margin-bottom: 20px;
}

.content{
  margin-top: 100px;
}